/* global style */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* scroll */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: #d8e9a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
